<h1>Update Landmark</h1>

<form action="/landmarks/<%=@landmark.id%>" method="post">

  <label>Landmark Name:</label>
  <br></br>
  <label>name:</label>
  <input  type="text" name="name" id="landmark[name]" value="<%=@landmark.name%>"></input>
  <br></br>

  <label>Year Completed:</label>
  <br></br>
  <label>year:</label>
  <input  type="text" name="year_completed" id="landmark[year_completed]" value="<%=@landmark.year_completed.to_s%>"></input>
  <br></br>

  <input type="submit" value="Edit Landmark" name="Edit Landmark" id="Edit Landmark">

</form>
