<h1>Create a new Landmark</h1>

<form action="/landmarks" method="post">

  <label>Landmark Name:</label>
  <br></br>
  <label>name:</label>
  <input  type="text" name="landmark_name" id="landmark[name]"></input>
  <br></br>

  <label>Year Completed:</label>
  <br></br>
  <label>year:</label>
  <input  type="text" name="landmark_year_completed" id="landmark[year_completed]"></input>
  <br></br>

  <input type="submit" value="Create New Landmark" name="Create New Landmark" id="Create New Landmark">

</form>
